[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ale/Desktop/temp_FS]
row=4
col=0

[/home/ale/Desktop/test_fswap.mp4]
row=5
col=0

[/home/ale/Desktop/ttt]
row=1
col=0

[/home/ale/Desktop/test_fswap2.mp4]
row=6
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ale]
row=0
col=0

