[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[165c36dd-7d3e-48bc-a133-affb2948f2ba]
row=4
col=0

[d3f13984-5ad2-4d3c-b166-c0c4c32dd673]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ale]
row=0
col=0

