#xrandr -s 3840x2160

#Set wallpaper
feh --bg-scale ~/Pictures/Wallpapers/clouds.png

xset r rate 210 40

# turn off bell
xset b off

# set dpms to 15 minutes 
xset dpms 900 900 900

# set screensever to 1000 seconds
xset s 1000 1000

# map caps to escape
setxkbmap -option caps:escape

# start spotify listener
spotify-listener&
